<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CurriesOleDB" connectionString="Provider=DB2OLEDB;Password=DBPW5;Persist Security Info=True;User ID=CURPGMUSR;Initial Catalog=DOORGRPI;Data Source=10.212.10.1;Network Transport Library=TCPIP;Package Collection=TYCLIB;Default Schema=TYCLIB" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>

  <appSettings>
    <add key="Company" value="0"/>

    <add key="System" value="0"/>

    <add key="DelFile" value="True"/>

    <add key="CloseApp" value="False"/>

    <add key="GrahamWorkflowFolders" value="\\spirit.doorgroup.com\workflow$\Graham\"/>

    <add key="TestWorkflow" value="C:\Temp\"/>

    <add key="GrahamIncomingFolder" value="GIncoming"/>

    <add key="CecoIncomingFolder" value="CeIncoming"/>

    <add key="FlemingIncomingFolder" value="FlIncoming"/>

    <add key="AASCIncomingFolder" value="AsIncoming"/>

    <add key="MaimanIncomingFolder" value="MaIncoming"/>

    <add key="FrameworksWorkflowFolders" value="\\frameworksdc1.frameworks.local\FW Workflow\"/>

    <add key="CecoWorkflowFolders" value="\\cecodoor.local\Workflow\"/>

    <add key="CopyPath" value="D:\Pradeep\Assa Abloy\Source codes- From Client\Test\{0}"/>

  </appSettings>
  
  
</configuration>
